<style>
    body {
        background-image: url('/images/use.jpg'); /* Replace 'background-image.jpg' with your actual background image */
        background-size: cover;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
    }

    .container-fluid {
        display: flex;
        color: whitesmoke;
        justify-content: first baseline;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    }

    .card {
        background-color: transparent;
        border: none;
        box-shadow: none;
        
    }

    .card-title,
    label {
        color: whitesmoke;
    }

    .card-title {
        border-bottom: 2px solid white;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .card-body {
        padding: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



   

    input,
    button {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }

    button {
        cursor: pointer;
    }
</style>
<div class="container-fluid">

    <div class="card card-body3 "> 
        <div class="card-title"> <h1>User Registration</h1></div>
      <div class="card-body">
        <form action="/us" method="post" style="text-align: center;">
<table>
    <tr>
        <td><label for="name">Name:</label></td>
        <td><input type="text" id="name" name="name" class="form-control" required></td>
    </tr>
    <tr>
        <td><label for="contact">Contact:</label></td>
        <td><input type="text" id="contact" name="contact" class="form-control" required></td>
    </tr>
    <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="email" id="email" name="email" class="form-control" required></td>
    </tr>
    <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" id="password" name="password" class="form-control" required></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="form-control btn btn-primary">Submit</button><a href="/" class="form-control btn btn-outline-success">Back</a></td>
    </tr>
</table>

    </form>
      </div>
    </div>
  
</div>
